.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: space-between;
  margin-top: 20px;
}

.pagi{
  text-align: center;
  padding: 20px;
}