.card {
  border: 1px solid black;
}

.container {
  background-color: rgba(128, 128, 128, 0.191);
  width: 90%;
  height: 350px;
  border: 2px solid black;
  text-align: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  margin: 0;
  justify-content: center;
}

h4 {
  margin: 0%;
}

p {
  margin: 5px;
}

.img {
 width: 75%;
 max-height: 60%;
}
