@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

.container {
  display: flex;
  justify-content: space-evenly;
  background-color: #00909E;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #22577A;
  font-size: 20px;
  font-family: "Koulen", cursive;
}

a:hover {
  color: black;
}
